
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.galileo-design-Rm1 {
  width: 100%;
  height: 157.25rem;
  background-color: #ffffff;

  .depth-0-frame-0-f9Z {
    background-color: #f9f7f7;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .depth-1-frame-0-MwV {
      flex-direction: column;
      width: 100%;
      height: 154.05rem;
      align-items: center;
      display: flex;

      .depth-2-frame-0-V27 {
        box-sizing: border-box;
        width: 100%;
        height: 6.5rem;
        flex-shrink: 0;
        margin-bottom: 3.6rem;
        padding: 1.25rem 4rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #e5e8ea;

        .depth-4-frame-0-bL3 {
          margin: 0.875rem 58.059rem 0.825rem 0rem;
          height: calc(100% - 1.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .depth-5-frame-0-g6b {
            flex-shrink: 0;
            margin: 0rem 1.6rem 0.05rem 0rem;
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .mediaid-BZ9 {
            letter-spacing: -0.027rem;
            color: #1c0c0c;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.25;
          }
        }
        .depth-3-frame-1-cH5 {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .depth-4-frame-0-9Xu {
            height: calc(100% - 1.9rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.95rem 3.203rem 0.95rem 0rem;

            .solutions-H8K {
              font-weight: 500;
              line-height: 1.5;
              color: #1c0c0c;
              font-family: Lexend, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.5547rem;
              font-size: 1.4rem;
            }
            .services-ocT {
              flex-shrink: 0;
              margin-right: 3.5469rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c0c0c;
              font-family: Lexend, 'Source Sans Pro';
              white-space: nowrap;
            }
            .technology-XoM {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c0c0c;
              font-family: Lexend, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.5563rem;
            }
            .about-us-UTh {
              font-weight: 500;
              line-height: 1.5;
              color: #1c0c0c;
              font-family: Lexend, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
            }
          }
          .depth-5-frame-0-zwq {
            flex-shrink: 0;
            box-sizing: border-box;
            height: 100%;
            overflow: hidden;
            background-color: #e21c1c;
            border-radius: 1.2rem;
            padding: 0.95rem 1.58rem 0.95rem 1.6rem;
            width: 11.1797rem;
            position: relative;

            .depth-6-frame-0-j8j {
              display: flex;
              justify-content: center;
              background-color: #e21c1c;
              height: 100%;
              overflow: hidden;
              position: relative;
              line-height: 1.5;
              color: #f9f7f7;
              white-space: nowrap;
              align-items: center;
              width: 100%;
              font-size: 1.4rem;
              font-weight: 700;
              letter-spacing: 0.021rem;
              font-family: Lexend, 'Source Sans Pro';
            }
          }
        }
      }
      .depth-3-frame-0-kJj {
        margin: 0rem 17.566rem 0rem 17.6rem;
        width: calc(100% - 35.1656rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-jqg3-sPM {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 3.2rem;
          width: 100%;
          display: flex;

          .depth-6-frame-0-QPH {
            margin: 0rem 0.034rem 3.6rem 0rem;
            height: 48rem;
            border-radius: 1.2rem;
            background-position: center;
            padding: 12rem 0.4rem 8.8rem 3.6rem;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.1000000015) 0%, rgba(0, 0, 0, 0.400000006) 100%);
            background-size: 100% 100%;
            position: relative;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:fbf391b2dcf089bb35d4c06e761b2e50127791ae');
            flex-shrink: 0;
            box-sizing: border-box;
            width: calc(100% - 0.0344rem);
            overflow: hidden;

            .depth-7-frame-0-61D {
              width: 100%;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .depth-9-frame-0-eHd {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 3.2rem;
                width: 100%;
                align-items: center;

                .mediaid-drone-delivery-in-conflict-zones-nud {
                  max-width: 82.3rem;
                  font-size: 4.8rem;
                  font-weight: 900;
                  font-family: Lexend, 'Source Sans Pro';
                  margin-bottom: 0.8rem;
                  text-align: center;
                  line-height: 1.25;
                  letter-spacing: -0.1584rem;
                  color: #ffffff;
                  flex-shrink: 0;
                }
                .delivering-medical-supplies-to-the-most-difficult-to-reach-areas-on-earth-in-the-most-difficult-circumstances-from-war-zones-to-remote-villages-were-getting-life-saving-aid-where-its-needed-most-5dq {
                  flex-shrink: 0;
                  max-width: 88.8rem;
                  text-align: center;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Lexend, 'Source Sans Pro';
                }
              }
              .depth-9-frame-0-XEw {
                box-sizing: border-box;
                height: 6.4rem;
                border-radius: 1.2rem;
                flex-shrink: 0;
                margin: 0 20.4rem;
                width: calc(100% - 40.8rem);
                display: flex;
                align-items: center;
                background-color: #f9f7f7;
                padding: 0.8rem 0.8rem 0.8rem 1.6rem;

                .depth-10-frame-0-2hV {
                  flex-shrink: 0;
                  margin: 1.2rem 5.45rem 1.2rem 0rem;
                  height: calc(100% - 2.4rem);
                  display: flex;
                  align-items: center;

                  .depth-11-frame-0-ktP {
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.6rem;
                    width: 2rem;
                    height: 2rem;
                  }
                  .what-do-you-need-delivered-tzb {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #964f4f;
                    font-family: Lexend, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .depth-11-frame-0-DGB {
                  overflow: hidden;
                  background-color: #e21c1c;
                  border-radius: 1.2rem;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 1.2rem 2rem;
                  height: 100%;
                  width: 13.85rem;
                  position: relative;

                  .depth-12-frame-0-MNP {
                    font-family: Lexend, 'Source Sans Pro';
                    white-space: nowrap;
                    background-color: #e21c1c;
                    overflow: hidden;
                    position: relative;
                    font-weight: 700;
                    line-height: 1.5;
                    letter-spacing: 0.024rem;
                    width: 100%;
                    height: 100%;
                    font-size: 1.6rem;
                    color: #f9f7f7;
                  }
                }
              }
            }
          }
          .our-services-E4o {
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 700;
            letter-spacing: -0.033rem;
            margin-bottom: 2.75rem;
            line-height: 1.25;
            color: #1c0c0c;
          }
          .depth-4-frame-2-wV1 {
            margin-right: 0.0344rem;
            width: calc(100% - 0.0344rem);
            height: 21.9rem;
            display: flex;
            column-gap: 1.2rem;
            align-items: center;
            flex-shrink: 0;

            .depth-5-frame-0-rby {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.6rem 2rem 3.9rem 1.6rem;
              width: 17.6rem;
              height: 100%;
              border: solid 0.1rem #e5d1d1;
              background-color: #f9f7f7;
              border-radius: 0.8rem;

              .depth-6-frame-0-ans {
                object-fit: contain;
                vertical-align: top;
                margin-bottom: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
              }
              .depth-6-frame-1-XCK {
                width: 100%;
                display: flex;
                flex-direction: column;

                .emergency-medical-supplies-5jd {
                  font-family: Lexend, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  max-width: 13.7rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #1c0c0c;
                }
                .when-every-second-counts-were-there-with-urgent-medical-supplies-cDm {
                  flex-shrink: 0;
                  max-width: 14rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #964f4f;
                  font-family: Lexend, 'Source Sans Pro';
                }
              }
            }
            .depth-5-frame-1-Hao {
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.6rem 1.8rem 3.9rem 1.6rem;
              width: 17.6rem;
              height: 100%;
              border: solid 0.1rem #e5d1d1;
              background-color: #f9f7f7;

              .depth-6-frame-0-2HV {
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                margin-bottom: 1.2rem;
                width: 2.4rem;
              }
              .depth-6-frame-1-kjH {
                width: 100%;
                display: flex;
                flex-direction: column;

                .hospital-construction-vNs {
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  max-width: 10.2rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #1c0c0c;
                  font-family: Lexend, 'Source Sans Pro';
                }
                .need-a-hospital-built-in-days-were-experts-in-fast-safe-construction-3TV {
                  color: #964f4f;
                  font-family: Lexend, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 14.2rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
            }
            .depth-5-frame-2-8E3 {
              padding: 1.6rem 1.6rem 1.8rem 1.6rem;
              width: 17.6rem;
              height: 100%;
              border: solid 0.1rem #e5d1d1;
              background-color: #f9f7f7;
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;

              .depth-6-frame-0-rvj {
                margin-bottom: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .depth-6-frame-1-12w {
                display: flex;
                flex-direction: column;

                .vaccines-and-blood-a63 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #1c0c0c;
                  font-family: Lexend, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  max-width: 11.3rem;
                }
                .from-vaccines-to-blood-we-deliver-temperature-sensitive-items-with-care-g95 {
                  max-width: 11.6rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #964f4f;
                  font-family: Lexend, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
            }
            .depth-5-frame-3-xsH {
              padding: 1.6rem 1.6rem 8rem 1.6rem;
              width: 17.6rem;
              height: 100%;
              border: solid 0.1rem #e5d1d1;
              background-color: #f9f7f7;
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;

              .depth-6-frame-0-V6X {
                margin-bottom: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .depth-6-frame-1-dCj {
                flex-direction: column;
                display: flex;

                .fast-delivery-zJB {
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #1c0c0c;
                  font-family: Lexend, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .we-offer-express-delivery-for-non-urgent-items-KbM {
                  max-width: 11.9rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #964f4f;
                  font-family: Lexend, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
            }
            .depth-5-frame-4-RPV {
              width: 17.6rem;
              height: 100%;
              border: solid 0.1rem #e5d1d1;
              background-color: #f9f7f7;
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.6rem 2rem 1.8rem 1.6rem;

              .depth-6-frame-0-Yj1 {
                margin-bottom: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .depth-6-frame-1-UMm {
                width: 100%;
                display: flex;
                flex-direction: column;

                .heavy-or-large-items-1sV {
                  font-family: Lexend, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  max-width: 12.8rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #1c0c0c;
                }
                .we-can-transport-heavy-or-large-items-that-wont-fit-in-a-traditional-delivery-vehicle-vzT {
                  flex-shrink: 0;
                  max-width: 14rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #964f4f;
                  font-family: Lexend, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .depth-4-frame-3-zjR {
          height: 16.95rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .auto-group-ns1h-8aj {
            box-sizing: border-box;
            padding-right: 1.2672rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .depth-7-frame-0-UuV {
              object-fit: cover;
              vertical-align: top;
              border-radius: 1.2rem;
              flex-shrink: 0;
              margin: 0rem 1.167rem 0.002rem 0rem;
              width: 30.1328rem;
              height: 16.9484rem;
            }
            .depth-7-frame-0-zN3 {
              margin-bottom: 0.0016rem;
              width: 30.1328rem;
              height: 16.9484rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1.2rem;
              flex-shrink: 0;
            }
          }
          .depth-7-frame-0-K9R {
            height: 16.95rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.2rem;
            flex-shrink: 0;
            width: 30.1344rem;
          }
        }
        .auto-group-8h9q-F35 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 3.6rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .ready-to-get-started-P9H {
            font-size: 2.2rem;
            line-height: 1.25;
            letter-spacing: -0.033rem;
            color: #1c0c0c;
            flex-shrink: 0;
            margin-bottom: 2.35rem;
            font-weight: 700;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
          }
          .depth-8-frame-0-75H {
            border-radius: 1.2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 1.5rem 1.7rem 1.5rem;
            height: 5.6rem;
            overflow: hidden;
            border: solid 0.1rem #e5d1d1;
            background-color: #f9f7f7;
            margin-bottom: 2.4rem;
            width: 48rem;
            position: relative;

            .depth-9-frame-0-q1H {
              overflow: hidden;
              display: flex;
              height: 100%;
              font-family: Lexend, 'Source Sans Pro';
              justify-content: center;
              color: #964f4f;
              width: 4.7rem;
              position: relative;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              white-space: nowrap;
              margin-right: 40.3rem;
              align-items: center;
            }
          }
          .depth-8-frame-0-gnb {
            overflow: hidden;
            border: solid 0.1rem #e5d1d1;
            background-color: #f9f7f7;
            border-radius: 1.2rem;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            padding: 1.5rem 1.5rem 1.7rem 1.5rem;
            width: 48rem;
            height: 5.6rem;
            position: relative;
            flex-shrink: 0;

            .depth-9-frame-0-D1q {
              overflow: hidden;
              line-height: 1.5;
              white-space: nowrap;
              display: flex;
              margin-right: 38.2rem;
              color: #964f4f;
              align-items: center;
              width: 6.8rem;
              position: relative;
              font-weight: 400;
              height: 100%;
              font-family: Lexend, 'Source Sans Pro';
              justify-content: center;
              font-size: 1.6rem;
            }
          }
          .depth-8-frame-0-gw1 {
            flex-shrink: 0;
            box-sizing: border-box;
            width: calc(100% - 44.8344rem);
            display: flex;
            background-color: #f9f7f7;
            position: relative;
            align-items: center;
            border: solid 0.1rem #e5d1d1;
            border-radius: 1.2rem;
            margin: 0rem 44.834rem 2.4rem 0rem;
            padding: 1.5rem 1.5rem 1.7rem 1.5rem;
            height: 5.6rem;
            overflow: hidden;

            .depth-9-frame-0-nUF {
              height: 100%;
              font-size: 1.6rem;
              color: #1c0c0c;
              justify-content: center;
              line-height: 1.5;
              display: flex;
              flex-shrink: 0;
              margin-right: 36.1rem;
              width: 6.5rem;
              overflow: hidden;
              position: relative;
              font-weight: 400;
              font-family: Lexend, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
            }
            .depth-9-frame-1-VNf {
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .depth-8-frame-0-oeF {
            margin: 0rem 44.834rem 2.4rem 0rem;
            padding: 1.5rem 1.5rem 1.7rem 1.5rem;
            align-items: center;
            border-radius: 1.2rem;
            flex-shrink: 0;
            display: flex;
            border: solid 0.1rem #e5d1d1;
            background-color: #f9f7f7;
            box-sizing: border-box;
            width: calc(100% - 44.8344rem);
            height: 5.6rem;
            overflow: hidden;
            position: relative;

            .depth-9-frame-0-uBV {
              margin-right: 32.5906rem;
              font-size: 1.6rem;
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
              color: #1c0c0c;
              font-family: Lexend, 'Source Sans Pro';
              width: 10.0094rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              line-height: 1.5;
            }
            .depth-9-frame-1-1kK {
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .depth-5-frame-0-w8B {
            box-sizing: border-box;
            height: 4rem;
            position: relative;
            background-color: #e21c1c;
            padding: 0.95rem 21.395rem 0.95rem 21.405rem;
            width: 48rem;
            overflow: hidden;
            border-radius: 1.2rem;
            flex-shrink: 0;

            .depth-6-frame-0-FuZ {
              height: 100%;
              font-weight: 700;
              display: flex;
              align-items: center;
              width: 100%;
              letter-spacing: 0.021rem;
              color: #f9f7f7;
              font-family: Lexend, 'Source Sans Pro';
              white-space: nowrap;
              justify-content: center;
              background-color: #e21c1c;
              overflow: hidden;
              position: relative;
              font-size: 1.4rem;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}
